h1{  /* typographie */
    grid-column:1 / 4; /* de 1 à 4 */
    grid-column:1 / span 3; /* idem de 1 à 4 */
    background:#f60;
  }
   
  p:nth-of-type(1){ /* astuce pour le p n°1 */
    background:#f60;
    grid-row:1 / 4;
    grid-column:4 / 5;
  }