#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff; /* Change this to your desired background color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
}

.logo {
  margin-right: 5px; /* Réduire la marge à droite */
  margin-left: 30px; /* Réduire la marge à gauche */
}

.logo img {
  height: 50px; /* Ajustez la hauteur du logo à votre convenance */
}

.nav-button {
    background-color: #01a546;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #028c3e;
}

#nav-content ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

#nav-content ul li {
  margin-right: 20px;
}

#nav-content ul li:last-child {
  margin-right: 0;
}

#nav-content ul li a {
  color: #01a546; /* Change this to your desired text color */
  text-decoration: none;
  font-size: 18px;
}

.bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background: #a7a7a7; /* Change this to your desired background color */
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.button {
  display: none;
}

@media (max-width: 768px) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    margin-left: 25px;
  }

  .button .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff; /* Change this to your desired icon color */
    transition: .3s;
  }

  #nav-container:focus-within .button {
    pointer-events: none;
  }

  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }

  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  #nav-content {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #ffffff; /* Change this to your desired background color */
    padding: 20px;
    display: none;
  }

  #nav-content ul {
    flex-direction: column;
    align-items: center;
  }

  #nav-content ul li {
    margin: 10px 0;
  }

  #nav-container:focus-within #nav-content {
    display: block;
  }

  .bg {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background: #fffefe; 
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }

  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
  }

  #nav-container * {
    visibility: visible;
  }
}
